<div class="container">

  <div class="row">
    <div class="col-xs-3">
      <label>Card Title</label>
      <p> <input id="title" type="text" [value]="title" [(ngModel)]="title"></p>

    </div>
    <div class="col-xs-3 margin">
      <label>
        Card content
      </label>
      <p>
        <input id="content" type="text" [value]="content" [(ngModel)]="content">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <button id='addBtn' class="btn btn-primary" (click)='addCard()'>
        Add Card
      </button>
    </div>
  </div>



  <div class="row">

    <ng-container *ngIf='cardDetails.length>0;else noDataToShow'>
      <div *ngFor="let card of cardDetails; let i=index;" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card-header">
            <b>{{i+1}}</b> {{card.title}}
            <span class="remove-card" (click)="removeCard(card)">X</span>
          </div>

          <div class="card-content">
            {{card.content}}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noDataToShow>
      <span class="center"> Click 'Add Card' to get your first card. </span>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>
